/* The colors outlined here correspond to the color palette section of the Beeline Design System: https://bln-app-beelinedesignsystem-scus.azurewebsites.net/color-palette */

/* Green */
$green: #77b800;
$green-1: #8fbe39;
$green-2: #f4fbe8;
$green-3: #238544;
$green-4: #68da8f;
$green-5: #34bead;
$green-accessibility: #445a1b;
$button-green: #448500;

/* Blue */
$blue-40: #006adc;
$blue-primary: #0573e1;
$blue-1: #4fa7ff;
$blue-2: #b5dfff;
$blue-3: #ecf5ff;
$blue-4: #fbfdff;
$blue-5: #0352a0;
$blue-gray: #f5f6fa;
$font-accent: #001b38;
$muted-gray: #9fb3ce;

/* Purple */
$purple-1: #4c49dd;
$purple-2: #7a77ff;
$purple-3: #e8e8ff;

/* Orange */
$orange-1: #db850a;
$orange-2: #f4ab43;
$orange-3: #ffe2b8;
$orange-accessibility: #6a4006;

/* Red */
$red-1: #be3a34;
$red-2: #ffdad8;
$red-accessibility: #842924;
$pink: #fc5dd9;

/* Neutral */
$black-2: #091b1f;
$gray-1: #4f5053;
$gray-2: #ccc;
$gray-3: #f1f1f1;
$gray-disabled: #cfcfcf;
$gray-border: #727475;
$font-primary: #1b1b1b;
$font-print: #3C3C3C;
$muted-gray: #9FB3CE;
