:root {
	--md-ref-palette-primary-0: #000000;
	--md-ref-palette-primary-10: #01256A;
	--md-ref-palette-primary-20: #02308B;
	--md-ref-palette-primary-30: #023EB3;
	--md-ref-palette-primary-40: #0357fc;
	--md-ref-palette-primary-50: #3579FD;
	--md-ref-palette-primary-60: #568EFD;
	--md-ref-palette-primary-70: #8BB2FE;
	--md-ref-palette-primary-80: #B1CBFE;
	--md-ref-palette-primary-90: #CCDDFF;
	--md-ref-palette-primary-95: #E6EEFF;
	--md-ref-palette-primary-99: #F5F9FF;
	--md-ref-palette-primary-100: #FFFFFF;
	--md-sys-color-primary: #0357fc;
	--md-sys-color-primary-light: #0357fc;
	--md-sys-color-primary-dark: #B1CBFE;
	--md-sys-color-on-primary: #FFFFFF;
	--md-sys-color-on-primary-light: #FFFFFF;
	--md-sys-color-on-primary-dark: #02308B;
	--md-sys-color-primary-container: #CCDDFF;
	--md-sys-color-primary-container-light: #CCDDFF;
	--md-sys-color-primary-container-dark: #023EB3;
	--md-sys-color-on-primary-container: #01256A;
	--md-sys-color-on-primary-container-light: #01256A;
	--md-sys-color-on-primary-container-dark: #CCDDFF;
	--md-sys-color-primary-high-shade-1: rgba(3,87,252,0.04);
	--md-sys-color-primary-high-shade-1-light: rgba(3,87,252,0.04);
	--md-sys-color-primary-high-shade-1-dark: rgba(3,87,252,0.30);
	--md-sys-color-primary-high-shade-2: rgba(3,87,252,0.07);
	--md-sys-color-primary-high-shade-2-light: rgba(3,87,252,0.07);
	--md-sys-color-primary-high-shade-2-dark: rgba(3,87,252,0.60);
	--md-sys-color-primary-low-shade-1: rgba(1,37,106,0.30);
	--md-sys-color-primary-low-shade-1-light: rgba(1,37,106,0.30);
	--md-sys-color-primary-low-shade-1-dark: rgba(3,57,252,0.30);
	--md-sys-color-primary-low-shade-2: rgba(1,37,106,0.60);
	--md-sys-color-primary-low-shade-2-light: rgba(1,37,106,0.60);
	--md-sys-color-primary-low-shade-2-dark: rgba(3,57,252,0.60);
	--md-sys-color-primary-disabled-1: #CCDDFF;
	--md-sys-color-primary-disabled-1-light: #CCDDFF;
	--md-sys-color-primary-disabled-1-dark: #CCDDFF;
	--md-sys-color-primary-disabled-2: #B1CBFE;
	--md-sys-color-primary-disabled-2-light: #B1CBFE;
	--md-sys-color-primary-disabled-2-dark: #B1CBFE;
	--md-sys-color-primary-accent: #023EB3;
	--md-sys-color-primary-accent-light: #023EB3;
	--md-sys-color-primary-accent-dark: #023EB3;
	--md-ref-palette-secondary-0: #000000;
	--md-ref-palette-secondary-10: #000B29;
	--md-ref-palette-secondary-20: #000E35;
	--md-ref-palette-secondary-30: #001245;
	--md-ref-palette-secondary-40: #001858;
	--md-ref-palette-secondary-50: #001A61;
	--md-ref-palette-secondary-60: #334881;
	--md-ref-palette-secondary-70: #546695;
	--md-ref-palette-secondary-80: #8A96B6;
	--md-ref-palette-secondary-90: #B0B8CE;
	--md-ref-palette-secondary-95: #E6E8EF;
	--md-ref-palette-secondary-99: #F0F2F7;
	--md-ref-palette-secondary-100: #FFFFFF;
	--md-sys-color-secondary: #001A61;
	--md-sys-color-secondary-light: #001A61;
	--md-sys-color-secondary-dark: #8A96B6;
	--md-sys-color-on-secondary: #F0F2F7;
	--md-sys-color-on-secondary-light: #F0F2F7;
	--md-sys-color-on-secondary-dark: #000E35;
	--md-sys-color-secondary-container: #334881;
	--md-sys-color-secondary-container-light: #334881;
	--md-sys-color-secondary-container-dark: #001245;
	--md-sys-color-on-secondary-container: #000B29;
	--md-sys-color-on-secondary-container-light: #000B29;
	--md-sys-color-on-secondary-container-dark: #B0B8CE;
	--md-sys-color-secondary-high-shade-1: rgba(0,24,88,0.04);
	--md-sys-color-secondary-high-shade-1-light: rgba(0,24,88,0.04);
	--md-sys-color-secondary-high-shade-2: rgba(0,24,88,0.07);
	--md-sys-color-secondary-high-shade-2-light: rgba(0,24,88,0.07);
	--md-sys-color-secondary-low-shade-1: rgba(0,11,41,0.3);
	--md-sys-color-secondary-low-shade-1-light: rgba(0,11,41,0.3);
	--md-sys-color-secondary-low-shade-2: rgba(0,11,41,0.45);
	--md-sys-color-secondary-low-shade-2-light: rgba(0,11,41,0.45);
	--md-sys-color-secondary-disabled-1: #8A96B6;
	--md-sys-color-secondary-disabled-1-light: #8A96B6;
	--md-sys-color-secondary-disabled-2: #B0B8CE;
	--md-sys-color-secondary-disabled-2-light: #B0B8CE;
	--md-sys-color-secondary-accent: #001245;
	--md-sys-color-secondary-accent-light: #001245;
	--md-ref-palette-tertiary-0: #000000;
	--md-ref-palette-tertiary-10: #244000;
	--md-ref-palette-tertiary-20: #335300;
	--md-ref-palette-tertiary-30: #3E6500;
	--md-ref-palette-tertiary-40: #4C8300;
	--md-ref-palette-tertiary-50: #5B9C00;
	--md-ref-palette-tertiary-60: #86BF2A;
	--md-ref-palette-tertiary-70: #A2D64F;
	--md-ref-palette-tertiary-80: #BADE81;
	--md-ref-palette-tertiary-90: #D3E9B0;
	--md-ref-palette-tertiary-95: #EAF4D9;
	--md-ref-palette-tertiary-99: #EFF6E6;
	--md-ref-palette-tertiary-100: #FFFFFF;
	--md-sys-color-tertiary: #4C8300;
	--md-sys-color-tertiary-light: #4C8300;
	--md-sys-color-tertiary-dark: #BADE81;
	--md-sys-color-on-tertiary: #EFF6E6;
	--md-sys-color-on-tertiary-light: #EFF6E6;
	--md-sys-color-on-tertiary-dark: #335300;
	--md-sys-color-tertiary-container: #D3E9B0;
	--md-sys-color-tertiary-container-light: #D3E9B0;
	--md-sys-color-tertiary-container-dark: #3E6500;
	--md-sys-color-on-tertiary-container: #244000;
	--md-sys-color-on-tertiary-container-light: #244000;
	--md-sys-color-on-tertiary-container-dark: #D3E9B0;
	--md-sys-color-tertiary-high-shade-1: rgba(76,131,0,0.04);
	--md-sys-color-tertiary-high-shade-1-light: rgba(76,131,0,0.04);
	--md-sys-color-tertiary-high-shade-2: rgba(76,131,0,0.07);
	--md-sys-color-tertiary-high-shade-2-light: rgba(76,131,0,0.07);
	--md-sys-color-tertiary-low-shade-1: rgba(36,64,0,0.15);
	--md-sys-color-tertiary-low-shade-1-light: rgba(36,64,0,0.15);
	--md-sys-color-tertiary-low-shade-2: rgba(36,64,0,0.4);
	--md-sys-color-tertiary-low-shade-2-light: rgba(36,64,0,0.4);
	--md-sys-color-tertiary-disabled-1: #BADE81;
	--md-sys-color-tertiary-disabled-1-light: #BADE81;
	--md-sys-color-tertiary-disabled-2: #EFF6E6;
	--md-sys-color-tertiary-disabled-2-light: #EFF6E6;
	--md-sys-color-tertiary-accent: #3E6500;
	--md-sys-color-tertiary-accent-light: #3E6500;
	--md-ref-palette-neutral-0: #000000;
	--md-ref-palette-neutral-10: #191C1D;
	--md-ref-palette-neutral-20: #2E3132;
	--md-ref-palette-neutral-30: #444748;
	--md-ref-palette-neutral-40: #5C5F5F;
	--md-ref-palette-neutral-50: #747678;
	--md-ref-palette-neutral-60: #8E9192;
	--md-ref-palette-neutral-70: #A9ACAC;
	--md-ref-palette-neutral-80: #C4C7C7;
	--md-ref-palette-neutral-90: #E1E3E3;
	--md-ref-palette-neutral-95: #EFF1F1;
	--md-ref-palette-neutral-99: #FAFAFA;
	--md-ref-palette-neutral-100: #FFFFFF;
	--md-ref-palette-neutral-variant-0: #000000;
	--md-ref-palette-neutral-variant-10: #232C35;
	--md-ref-palette-neutral-variant-20: #2E3A45;
	--md-ref-palette-neutral-variant-30: #3B4B59;
	--md-ref-palette-neutral-variant-40: #4C6073;
	--md-ref-palette-neutral-variant-50: #53697E;
	--md-ref-palette-neutral-variant-60: #758798;
	--md-ref-palette-neutral-variant-70: #8C9BA9;
	--md-ref-palette-neutral-variant-80: #B0BAC4;
	--md-ref-palette-neutral-variant-90: #CAD1D7;
	--md-ref-palette-neutral-variant-95: #EEF0F2;
	--md-ref-palette-neutral-variant-99: #F7F9FA;
	--md-ref-palette-neutral-variant-100: #FFFFFF;
	--md-sys-color-neutral-variant: #4C6073;
	--md-sys-color-neutral-variant-light: #4C6073;
	--md-sys-color-on-neutral-variant: #F7F9FA;
	--md-sys-color-on-neutral-variant-light: #F7F9FA;
	--md-sys-color-neutral-variant-container: #EEF0F2;
	--md-sys-color-neutral-variant-container-light: #EEF0F2;
	--md-sys-color-on-neutral-variant-container: #F7F9FA;
	--md-sys-color-on-neutral-variant-container-light: #F7F9FA;
	--md-sys-color-neutral-variant-high-shade-1: rgba(46,58,69,0.06);
	--md-sys-color-neutral-variant-high-shade-1-light: rgba(46,58,69,0.06);
	--md-sys-color-neutral-variant-high-shade-2: rgba(46,58,69,0.09);
	--md-sys-color-neutral-variant-high-shade-2-light: rgba(46,58,69,0.09);
	--md-sys-color-neutral-variant-low-shade-1: rgba(46,58,69,0.1);
	--md-sys-color-neutral-variant-low-shade-1-light: rgba(46,58,69,0.1);
	--md-sys-color-neutral-variant-low-shade-2: rgba(46,58,69,0.1);
	--md-sys-color-neutral-variant-low-shade-2-light: rgba(46,58,69,0.1);
	--md-sys-color-neutral-variant-label: #232C35;
	--md-sys-color-neutral-variant-label-light: #232C35;
	--md-sys-color-neutral-variant-disabled-1: #EEF0F2;
	--md-sys-color-neutral-variant-disabled-1-light: #EEF0F2;
	--md-sys-color-neutral-variant-disabled-2: #B0BAC4;
	--md-sys-color-neutral-variant-disabled-2-light: #B0BAC4;
	--md-sys-color-neutral-variant-accent: #3B4B59;
	--md-sys-color-neutral-variant-accent-light: #3B4B59;
	--md-ref-palette-error-0: #000000;
	--md-ref-palette-error-10: #640A0A;
	--md-ref-palette-error-20: #820C0C;
	--md-ref-palette-error-30: #A80F0F;
	--md-ref-palette-error-40: #D81313;
	--md-ref-palette-error-50: #ED1515;
	--md-ref-palette-error-60: #F14444;
	--md-ref-palette-error-70: #F36262;
	--md-ref-palette-error-80: #F79393;
	--md-ref-palette-error-90: #F9B6B6;
	--md-ref-palette-error-95: #FDE8E8;
	--md-ref-palette-error-99: #FEF6F6;
	--md-ref-palette-error-100: #FFFFFF;
	--md-sys-color-error: #D81313;
	--md-sys-color-error-light: #D81313;
	--md-sys-color-error-dark: #F79393;
	--md-sys-color-error-container: #F9B6B6;
	--md-sys-color-error-container-light: #F9B6B6;
	--md-sys-color-error-container-dark: #A80F0F;
	--md-sys-color-on-error-container: #640A0A;
	--md-sys-color-on-error-container-light: #640A0A;
	--md-sys-color-on-error-container-dark: #F9B6B6;
	--md-sys-color-on-error: #FEF6F6;
	--md-sys-color-on-error-light: #FEF6F6;
	--md-sys-color-on-error-dark: #820C0C;
	--md-sys-color-error-high-shade-1: rgba(216,19,19,0.07);
	--md-sys-color-error-high-shade-1-light: rgba(216,19,19,0.07);
	--md-sys-color-error-high-shade-2: rgba(216,19,19,0.04);
	--md-sys-color-error-high-shade-2-light: rgba(216,19,19,0.04);
	--md-sys-color-error-low-shade-1: rgba(100,10,10,0.2);
	--md-sys-color-error-low-shade-1-light: rgba(100,10,10,0.2);
	--md-sys-color-error-low-shade-2: rgba(100,10,10,0.4);
	--md-sys-color-error-low-shade-2-light: rgba(100,10,10,0.4);
	--md-sys-color-error-disabled-1: #F9B6B6;
	--md-sys-color-error-disabled-1-light: #F9B6B6;
	--md-sys-color-error-disabled-2: #F79393;
	--md-sys-color-error-disabled-2-light: #F79393;
	--md-sys-color-error-accent: #A80F0F;
	--md-sys-color-error-accent-light: #A80F0F;
	--md-ref-palette-warning-0: #000000;
	--md-ref-palette-warning-10: #6B5102;
	--md-ref-palette-warning-20: #8C6A02;
	--md-ref-palette-warning-30: #B58803;
	--md-ref-palette-warning-40: #E8AF04;
	--md-ref-palette-warning-50: #FFC004;
	--md-ref-palette-warning-60: #FFCD36;
	--md-ref-palette-warning-70: #FFD557;
	--md-ref-palette-warning-80: #FFE28C;
	--md-ref-palette-warning-90: #FFEBB1;
	--md-ref-palette-warning-95: #FFF9E6;
	--md-ref-palette-warning-99: #FFFCF5;
	--md-ref-palette-warning-100: #FFFFFF;
	--md-ref-palette-success-0: #000000;
	--md-ref-palette-success-10: #2A542F;
	--md-ref-palette-success-20: #3B7542;
	--md-ref-palette-success-30: #55A85E;
	--md-ref-palette-success-40: #72E37F;
	--md-ref-palette-success-50: #7DF98C;
	--md-ref-palette-success-60: #97FAA3;
	--md-ref-palette-success-70: #A8FBB2;
	--md-ref-palette-success-80: #B4FABD;
	--md-ref-palette-success-90: #C3FCCA;
	--md-ref-palette-success-95: #DCFDE0;
	--md-ref-palette-success-99: #F2FEF4;
	--md-ref-palette-success-100: #FFFFFF;
	--md-ref-palette-info-0: #000000;
	--md-ref-palette-info-10: #004964;
	--md-ref-palette-info-20: #005F83;
	--md-ref-palette-info-30: #007BA9;
	--md-ref-palette-info-40: #009BD6;
	--md-ref-palette-info-50: #00ADEE;
	--md-ref-palette-info-60: #33BDF1;
	--md-ref-palette-info-70: #54C8F4;
	--md-ref-palette-info-80: #8AD9F7;
	--md-ref-palette-info-90: #B0E6FA;
	--md-ref-palette-info-95: #E6F7ED;
	--md-ref-palette-info-99: #F2FCFF;
	--md-ref-palette-info-100: #FFFFFF;
	--md-sys-color-info: #009BD6;
	--md-sys-color-info-light: #009BD6;
	--md-sys-color-info-container: #B0E6FA;
	--md-sys-color-info-container-light: #B0E6FA;
	--md-sys-color-on-info-container: #004964;
	--md-sys-color-on-info-container-light: #004964;
	--md-sys-color-on-info: #F2FCFF;
	--md-sys-color-on-info-light: #F2FCFF;
	--md-sys-color-info-high-shade-1: rgba(0,155,214,0.07);
	--md-sys-color-info-high-shade-1-light: rgba(0,155,214,0.07);
	--md-sys-color-info-high-shade-2: rgba(0,123,169,0.09);
	--md-sys-color-info-high-shade-2-light: rgba(0,123,169,0.09);
	--md-sys-color-info-low-shade-1: rgba(0,123,169,0.3);
	--md-sys-color-info-low-shade-1-light: rgba(0,123,169,0.3);
	--md-sys-color-info-low-shade-2: rgba(0,123,169,0.5);
	--md-sys-color-info-low-shade-2-light: rgba(0,123,169,0.5);
	--md-sys-color-info-disabled-1: #B0E6FA;
	--md-sys-color-info-disabled-1-light: #B0E6FA;
	--md-sys-color-info-disabled-2: #33BDF1;
	--md-sys-color-info-disabled-2-light: #33BDF1;
	--md-sys-color-info-accent: #007BA9;
	--md-sys-color-info-accent-light: #007BA9;
	--md-ref-palette-accent-0: #000000;
	--md-ref-palette-accent-10: #33326B;
	--md-ref-palette-accent-20: #43418C;
	--md-ref-palette-accent-30: #5754B5;
	--md-ref-palette-accent-40: #6F6CE8;
	--md-ref-palette-accent-50: #7A77FF;
	--md-ref-palette-accent-60: #9592FF;
	--md-ref-palette-accent-70: #A6A4FF;
	--md-ref-palette-accent-80: #C2C0FF;
	--md-ref-palette-accent-90: #D6D5FF;
	--md-ref-palette-accent-95: #F2F1FF;
	--md-ref-palette-accent-99: #F4F3FF;
	--md-ref-palette-accent-100: #FFFFFF;
	--md-sys-display-small-font: Roboto;
	--md-sys-display-small-weight: 400;
	--md-sys-display-small-line-height: 44px;
	--md-sys-display-small-size: 36px;
	--md-sys-display-small-tracking: 0%;
	--md-sys-display-small-paragraphSpacing: 0;
	--md-sys-display-small-paragraphIndent: 0px;
	--md-sys-display-small-text-transform: none;
	--md-sys-display-small-text-decoration: none;
	--md-sys-display-medium-font: Roboto;
	--md-sys-display-medium-weight: 400;
	--md-sys-display-medium-line-height: 52px;
	--md-sys-display-medium-size: 45px;
	--md-sys-display-medium-tracking: 0%;
	--md-sys-display-medium-paragraphSpacing: 0;
	--md-sys-display-medium-paragraphIndent: 0px;
	--md-sys-display-medium-text-transform: none;
	--md-sys-display-medium-text-decoration: none;
	--md-sys-display-large-font: Roboto;
	--md-sys-display-large-weight: 400;
	--md-sys-display-large-line-height: 64px;
	--md-sys-display-large-size: 57px;
	--md-sys-display-large-tracking: -0.25;
	--md-sys-display-large-paragraphSpacing: 0;
	--md-sys-display-large-paragraphIndent: 0px;
	--md-sys-display-large-text-transform: none;
	--md-sys-display-large-text-decoration: none;
	--md-sys-headline-small-font: Roboto;
	--md-sys-headline-small-weight: 400;
	--md-sys-headline-small-line-height: 32px;
	--md-sys-headline-small-size: 24px;
	--md-sys-headline-small-tracking: 0%;
	--md-sys-headline-small-paragraphSpacing: 0;
	--md-sys-headline-small-paragraphIndent: 0px;
	--md-sys-headline-small-text-transform: none;
	--md-sys-headline-small-text-decoration: none;
	--md-sys-headline-medium-font: Roboto;
	--md-sys-headline-medium-weight: 400;
	--md-sys-headline-medium-line-height: 36px;
	--md-sys-headline-medium-size: 28px;
	--md-sys-headline-medium-tracking: 0%;
	--md-sys-headline-medium-paragraphSpacing: 0;
	--md-sys-headline-medium-paragraphIndent: 0px;
	--md-sys-headline-medium-text-transform: none;
	--md-sys-headline-medium-text-decoration: none;
	--md-sys-headline-large-font: Roboto;
	--md-sys-headline-large-weight: 400;
	--md-sys-headline-large-line-height: 40px;
	--md-sys-headline-large-size: 32px;
	--md-sys-headline-large-tracking: 0%;
	--md-sys-headline-large-paragraphSpacing: 0;
	--md-sys-headline-large-paragraphIndent: 0px;
	--md-sys-headline-large-text-transform: none;
	--md-sys-headline-large-text-decoration: none;
	--md-sys-title-small-font: Roboto;
	--md-sys-title-small-weight: 500;
	--md-sys-title-small-line-height: 20px;
	--md-sys-title-small-size: 14px;
	--md-sys-title-small-tracking: 0.1;
	--md-sys-title-small-paragraphSpacing: 0;
	--md-sys-title-small-paragraphIndent: 0px;
	--md-sys-title-small-text-transform: none;
	--md-sys-title-small-text-decoration: none;
	--md-sys-title-medium-font: Roboto;
	--md-sys-title-medium-weight: 500;
	--md-sys-title-medium-line-height: 24px;
	--md-sys-title-medium-size: 16px;
	--md-sys-title-medium-tracking: 0.15;
	--md-sys-title-medium-paragraphSpacing: 0;
	--md-sys-title-medium-paragraphIndent: 0px;
	--md-sys-title-medium-text-transform: none;
	--md-sys-title-medium-text-decoration: none;
	--md-sys-title-large-font: Roboto;
	--md-sys-title-large-weight: 400;
	--md-sys-title-large-line-height: 28px;
	--md-sys-title-large-size: 18px;
	--md-sys-title-large-tracking: 0%;
	--md-sys-title-large-paragraphSpacing: 0;
	--md-sys-title-large-paragraphIndent: 0px;
	--md-sys-title-large-text-transform: none;
	--md-sys-title-large-text-decoration: none;
	--md-sys-body-small-font: Roboto;
	--md-sys-body-small-weight: 400;
	--md-sys-body-small-line-height: 16px;
	--md-sys-body-small-size: 12px;
	--md-sys-body-small-tracking: 0%;
	--md-sys-body-small-paragraphSpacing: 0;
	--md-sys-body-small-paragraphIndent: 0px;
	--md-sys-body-small-text-transform: none;
	--md-sys-body-small-text-decoration: none;
	--md-sys-body-medium-font: Roboto;
	--md-sys-body-medium-weight: 400;
	--md-sys-body-medium-line-height: 20px;
	--md-sys-body-medium-size: 14px;
	--md-sys-body-medium-tracking: 0.25;
	--md-sys-body-medium-paragraphSpacing: 0;
	--md-sys-body-medium-paragraphIndent: 0px;
	--md-sys-body-medium-text-transform: none;
	--md-sys-body-medium-text-decoration: none;
	--md-sys-body-large-font: Roboto;
	--md-sys-body-large-weight: 400;
	--md-sys-body-large-line-height: 24px;
	--md-sys-body-large-size: 16px;
	--md-sys-body-large-tracking: 0.5;
	--md-sys-body-large-paragraphSpacing: 0;
	--md-sys-body-large-paragraphIndent: 0px;
	--md-sys-body-large-text-transform: none;
	--md-sys-body-large-text-decoration: none;
	--md-sys-label-small-font: Roboto;
	--md-sys-label-small-weight: 500;
	--md-sys-label-small-line-height: 16px;
	--md-sys-label-small-size: 12px;
	--md-sys-label-small-tracking: 0%;
	--md-sys-label-small-paragraphSpacing: 0;
	--md-sys-label-small-paragraphIndent: 0px;
	--md-sys-label-small-text-transform: none;
	--md-sys-label-small-text-decoration: none;
	--md-sys-label-medium-font: Roboto;
	--md-sys-label-medium-weight: 500;
	--md-sys-label-medium-line-height: 20px;
	--md-sys-label-medium-size: 14px;
	--md-sys-label-medium-tracking: 0%;
	--md-sys-label-medium-paragraphSpacing: 0;
	--md-sys-label-medium-paragraphIndent: 0px;
	--md-sys-label-medium-text-transform: none;
	--md-sys-label-medium-text-decoration: none;
	--md-sys-label-large-font: Roboto;
	--md-sys-label-large-weight: 500;
	--md-sys-label-large-line-height: 24px;
	--md-sys-label-large-size: 18px;
	--md-sys-label-large-tracking: 0%;
	--md-sys-label-large-paragraphSpacing: 0;
	--md-sys-label-large-paragraphIndent: 0px;
	--md-sys-label-large-text-transform: none;
	--md-sys-label-large-text-decoration: none;
	--md-sys-plain: Roboto;
	--md-sys-brand: Roboto;
	--md-sys-weight-regular: 400;
	--md-sys-weight-medium: 500;
	--md-sys-weight-bold: 700;
	--md-sys-lineHeights-0: 64px;
	--md-sys-lineHeights-1: 52px;
	--md-sys-lineHeights-2: 44px;
	--md-sys-lineHeights-3: 40px;
	--md-sys-lineHeights-4: 36px;
	--md-sys-lineHeights-5: 32px;
	--md-sys-lineHeights-6: 28px;
	--md-sys-lineHeights-7: 24px;
	--md-sys-lineHeights-8: 20px;
	--md-sys-lineHeights-9: 16px;
	--md-sys-letterSpacing-0: -0.25;
	--md-sys-letterSpacing-1: 0%;
	--md-sys-letterSpacing-2: 0.15;
	--md-sys-letterSpacing-3: 0.1;
	--md-sys-letterSpacing-4: 0.5;
	--md-sys-letterSpacing-5: 0.25;
	--md-icon-font: Material Symbols Rounded;
	--md-sys-space-0: 0;
	--md-sys-space-1: 4px;
	--md-sys-space-2: 8px;
	--md-sys-space-3: 12px;
	--md-sys-space-4: 16px;
	--md-sys-space-5: 24px;
	--md-sys-space-6: 32px;
	--md-sys-space-7: 48px;
	--md-sys-space-8: 64px;
	--md-sys-space-9: 80px;
	--md-sys-shape-corner-extra-small: 4px;
	--md-sys-shape-corner-small: 4px;
	--md-sys-shape-corner-medium: 4px;
	--md-sys-shape-corner-large: 4px;
	--md-sys-shape-corner-extra-large: 4px;
	--md-sys-shape-corner-full: 4px;
	--md-sys-shape-corner-none: 0;
	--md-button-x-space-small: 12px;
	--md-button-x-space-medium: 16px;
	--md-button-x-space-large: 24px;
	--md-button-gap-small: 12px;
	--md-button-gap-medium: 16px;
	--md-button-gap-large: 16px;
	--md-button-container-height-small: 32px;
	--md-button-container-height-medium: 40px;
	--md-button-container-height-large: 48px;
	--md-button-icon-size-small: 12px;
	--md-button-icon-size-medium: 14px;
	--md-button-icon-size-large: 16px;
	--md-button-hover-container-opacity: 1;
	--md-button-disabled-container-opacity: 1;
	--md-button-pressed-container-opacity: 1;
	--md-filled-button-disabled-container-opacity: 1;
	--md-filled-button-hover-container-elevation: 1;
	--md-filled-button-hover-state-layer-opacity: 1;
	--md-filled-button-pressed-state-layer-opacity: 1;
	--md-filled-button-primary-container-color: var(--md-sys-color-primary);
	--md-filled-button-primary-label-text-color: var(--md-sys-color-on-primary);
	--md-filled-button-primary-label-icon-color: var(--md-sys-color-on-primary);
	--md-filled-button-primary-hover-state-layer-color: var(--md-sys-color-primary-low-shade-1);
	--md-filled-button-primary-pressed-state-layer-color: var(--md-sys-color-primary-low-shade-2);
	--md-filled-button-primary-disabled-container-color: var(--md-sys-color-primary-disabled-1);
	--md-filled-button-primary-disabled-label-text-color: var(--md-sys-color-primary-disabled-2);
	--md-filled-button-primary-disabled-icon-color: var(--md-sys-color-primary-disabled-1);
	--md-filled-button-secondary-container-color: var(--md-sys-color-secondary-60);
	--md-filled-button-secondary-label-text-color: var(--md-sys-color-secondary-99);
	--md-filled-button-secondary-label-icon-color: var(--md-sys-color-secondary-99);
	--md-filled-button-secondary-hover-state-layer-color: var(--md-sys-color-secondary-low-shade-1);
	--md-filled-button-secondary-pressed-state-layer-color: var(--md-sys-color-secondary-low-shade-2);
	--md-filled-button-secondary-disabled-container-color: var(--md-sys-color-secondary-disabled-1);
	--md-filled-button-secondary-disabled-label-text-color: var(--md-sys-color-secondary-disabled-2);
	--md-filled-button-secondary-disabled-icon-color: var(--md-sys-color-secondary-disabled-2);
	--md-filled-button-tertiary-container-color: var(--md-sys-color-tertiary);
	--md-filled-button-tertiary-label-text-color: var(--md-sys-color-tertiary-99);
	--md-filled-button-tertiary-label-icon-color: var(--md-sys-color-tertiary-99);
	--md-filled-button-tertiary-hover-state-layer-color: var(--md-sys-color-tertiary-low-shade-1);
	--md-filled-button-tertiary-pressed-state-layer-color: var(--md-sys-color-tertiary-low-shade-2);
	--md-filled-button-tertiary-disabled-container-color: var(--md-sys-color-tertiary-disabled-1);
	--md-filled-button-tertiary-disabled-label-text-color: var(--md-sys-color-tertiary-disabled-2);
	--md-filled-button-tertiary-disabled-icon-color: var(--md-sys-color-tertiary-disabled-2);
	--md-filled-button-neutral-variant-container-color: var(--md-sys-color-neutral-variant-95);
	--md-filled-button-neutral-variant-label-text-color: var(--md-sys-color-neutral-variant-10);
	--md-filled-button-neutral-variant-label-icon-color: var(--md-sys-color-neutral-variant-10);
	--md-filled-button-neutral-variant-hover-state-layer-color: var(--md-sys-color-neutral-variant-low-shade-1);
	--md-filled-button-neutral-variant-pressed-state-layer-color: var(--md-sys-color-neutral-variant-low-shade-2);
	--md-filled-button-neutral-variant-disabled-container-color: var(--md-sys-color-neutral-variant-disabled-1);
	--md-filled-button-neutral-variant-disabled-label-text-color: var(--md-sys-color-neutral-variant-disabled-2);
	--md-filled-button-neutral-variant-disabled-icon-color: var(--md-sys-color-neutral-variant-disabled-2);
	--md-filled-button-info-container-color: var(--md-sys-color-info-container);
	--md-filled-button-info-label-text-color: var(--md-sys-color-info-10);
	--md-filled-button-info-label-icon-color: var(--md-sys-color-info-10);
	--md-filled-button-info-hover-state-layer-color: var(--md-sys-color-info-low-shade-1);
	--md-filled-button-info-pressed-state-layer-color: var(--md-sys-color-info-low-shade-2);
	--md-filled-button-info-disabled-container-color: var(--md-sys-color-info-disabled-1);
	--md-filled-button-info-disabled-label-text-color: var(--md-sys-color-info-disabled-2);
	--md-filled-button-info-disabled-icon-color: var(--md-sys-color-info-disabled-2);
	--md-filled-button-error-container-color: var(--md-sys-color-error-40);
	--md-filled-button-error-label-text-color: var(--md-sys-color-error-99);
	--md-filled-button-error-label-icon-color: var(--md-sys-color-error-99);
	--md-filled-button-error-hover-state-layer-color: var(--md-sys-color-error-low-shade-1);
	--md-filled-button-error-pressed-state-layer-color: var(--md-sys-color-error-low-shade-2);
	--md-filled-button-error-disabled-container-color: var(--md-sys-color-error-disabled-1);
	--md-filled-button-disabled-label-text-opacity: 1;
	--md-filled-button-disabled-icon-opacity: 1;
	--md-outlined-button-hover-state-layer-opacity: 1;
	--md-outlined-button-pressed-state-layer-opacity: 1;
	--md-outlined-button-primary-outline-color: var(--md-sys-color-primary);
	--md-outlined-button-primary-label-text-color: var(--md-sys-color-primary);
	--md-outlined-button-primary-icon-color: var(--md-sys-color-primary);
	--md-outlined-button-primary-hover-state-layer-color: var(--md-sys-color-primary-high-shade-2);
	--md-outlined-button-primary-pressed-state-layer-color: var(--md-sys-color-primary-high-shade-1);
	--md-outlined-button-primary-pressed-outline-color: var(--md-sys-color-primary-accent);
	--md-outlined-button-primary-pressed-label-text-color: var(--md-sys-color-primary-accent);
	--md-outlined-button-primary-pressed-icon-color: var(--md-sys-color-primary-accent);
	--md-outlined-button-primary-disabled-label-text-color: var(--md-sys-color-button-outlined-button-primary-disabled-outline-color);
	--md-outlined-button-primary-disabled-icon-color: var(--md-sys-color-outlined-button-primary-disabled-label-text-color);
	--md-outlined-button-primary-disabled-outline-color: var(--md-sys-color-primary-disabled-2);
	--md-outlined-button-secondary-outline-color: var(--md-sys-color-secondary);
	--md-outlined-button-secondary-label-text-color: var(--md-sys-color-secondary);
	--md-outlined-button-secondary-icon-color: var(--md-sys-color-secondary);
	--md-outlined-button-secondary-hover-state-layer-color: var(--md-sys-color-secondary-high-shade-2);
	--md-outlined-button-secondary-pressed-state-layer-color: var(--md-sys-color-secondary-high-shade-1);
	--md-outlined-button-secondary-pressed-outline-color: var(--md-sys-color-secondary-accent);
	--md-outlined-button-secondary-pressed-label-text-color: var(--md-sys-color-secondary-accent);
	--md-outlined-button-secondary-pressed-icon-color: var(--md-sys-color-secondary-accent);
	--md-outlined-button-secondary-disabled-label-text-color: var(--md-sys-color-button-outlined-button-secondary-disabled-outline-color);
	--md-outlined-button-secondary-disabled-icon-color: var(--md-sys-color-outlined-button-secondary-disabled-label-text-color);
	--md-outlined-button-secondary-disabled-outline-color: var(--md-sys-color-secondary-disabled-2);
	--md-outlined-button-tertiary-outline-color: var(--md-sys-color-tertiary);
	--md-outlined-button-tertiary-label-text-color: var(--md-sys-color-tertiary);
	--md-outlined-button-tertiary-icon-color: var(--md-sys-color-tertiary);
	--md-outlined-button-tertiary-hover-state-layer-color: var(--md-sys-color-tertiary-high-shade-2);
	--md-outlined-button-tertiary-pressed-state-layer-color: var(--md-sys-color-tertiary-high-shade-1);
	--md-outlined-button-tertiary-pressed-outline-color: var(--md-sys-color-tertiary-accent);
	--md-outlined-button-tertiary-pressed-label-text-color: var(--md-sys-color-tertiary-accent);
	--md-outlined-button-tertiary-pressed-icon-color: var(--md-sys-color-tertiary-accent);
	--md-outlined-button-tertiary-disabled-label-text-color: var(--md-sys-color-tertiary-disabled-1);
	--md-outlined-button-tertiary-disabled-icon-color: var(--md-sys-color-tertiary-disabled-1);
	--md-outlined-button-tertiary-disabled-outline-color: var(--md-sys-color-tertiary-disabled-1);
	--md-outlined-button-neutral-variant-outline-color: var(--md-sys-color-neutral-variant);
	--md-outlined-button-neutral-variant-label-text-color: var(--md-sys-color-neutral-variant);
	--md-outlined-button-neutral-variant-icon-color: var(--md-sys-color-neutral-variant);
	--md-outlined-button-neutral-variant-hover-state-layer-color: var(--md-sys-color-neutral-variant-high-shade-1);
	--md-outlined-button-neutral-variant-pressed-state-layer-color: var(--md-sys-color-neutral-variant-high-shade-2);
	--md-outlined-button-neutral-variant-pressed-outline-color: var(--md-sys-color-neutral-variant-accent);
	--md-outlined-button-neutral-variant-pressed-label-text-color: var(--md-sys-color-neutral-variant-accent);
	--md-outlined-button-neutral-variant-pressed-icon-color: var(--md-sys-color-neutral-variant-accent);
	--md-outlined-button-neutral-variant-disabled-label-text-color: var(--md-sys-color-button-outlined-button-neutral-variant-disabled-outline-color);
	--md-outlined-button-neutral-variant-disabled-icon-color: var(--md-sys-color-outlined-button-neutral-variant-disabled-label-text-color);
	--md-outlined-button-neutral-variant-disabled-outline-color: var(--md-sys-color-neutral-variant-disabled-2);
	--md-outlined-button-error-outline-color: var(--md-sys-color-error);
	--md-outlined-button-error-label-text-color: var(--md-sys-color-error);
	--md-outlined-button-error-icon-color: var(--md-sys-color-error);
	--md-outlined-button-error-hover-state-layer-color: var(--md-sys-color-error-high-shade-2);
	--md-outlined-button-error-pressed-state-layer-color: var(--md-sys-color-error-high-shade-1);
	--md-outlined-button-error-pressed-outline-color: var(--md-sys-color-error-accent);
	--md-outlined-button-error-pressed-label-text-color: var(--md-sys-color-error-accent);
	--md-outlined-button-error-pressed-icon-color: var(--md-sys-color-error-accent);
	--md-outlined-button-error-disabled-label-text-color: var(--md-sys-color-error-disabled-1);
	--md-outlined-button-error-disabled-icon-color: var(--md-sys-color-error-disabled-1);
	--md-outlined-button-error-disabled-outline-color: var(--md-sys-color-error-disabled-2);
	--md-outlined-button-info-outline-color: var(--md-sys-color-info);
	--md-outlined-button-info-label-text-color: var(--md-sys-color-info);
	--md-outlined-button-info-icon-color: var(--md-sys-color-info);
	--md-outlined-button-info-hover-state-layer-color: var(--md-sys-color-info-high-shade-1);
	--md-outlined-button-info-pressed-state-layer-color: var(--md-sys-color-info-high-shade-2);
	--md-outlined-button-info-pressed-outline-color: var(--md-sys-color-info-accent);
	--md-outlined-button-info-pressed-label-text-color: var(--md-sys-color-info-accent);
	--md-outlined-button-info-pressed-icon-color: var(--md-sys-color-info-accent);
	--md-outlined-button-info-disabled-label-text-color: var(--md-sys-color-info-disabled-1);
	--md-outlined-button-info-disabled-icon-color: var(--md-sys-color-info-disabled-1);
	--md-outlined-button-info-disabled-outline-color: var(--md-sys-color-info-disabled-1);
	--md-outlined-button-disabled-label-text-opacity: 1;
	--md-outlined-button-disabled-icon-opacity: 1;
	--md-text-button-hover-state-layer-opacity: 1;
	--md-text-button-pressed-state-layer-opacity: 1;
	--md-text-button-primary-label-text-color: var(--md-sys-color-primary);
	--md-text-button-primary-icon-color: var(--md-sys-color-primary);
	--md-text-button-primary-hover-state-layer-color: var(--md-sys-color-primary-high-shade-2);
	--md-text-button-primary-pressed-state-layer-color: var(--md-sys-color-primary-high-shade-1);
	--md-text-button-primary-pressed-label-text-color: var(--md-sys-color-primary-accent);
	--md-text-button-primary-pressed-icon-color: var(--md-sys-color-primary-accent);
	--md-text-button-primary-disabled-label-text-color: var(--md-sys-color-primary-disabled-2);
	--md-text-button-primary-disabled-icon-color: var(--md-sys-color-text-button-primary-disabled-label-text-color);
	--md-text-button-secondary-label-text-color: var(--md-sys-color-secondary);
	--md-text-button-secondary-icon-color: var(--md-sys-color-secondary);
	--md-text-button-secondary-hover-state-layer-color: var(--md-sys-color-secondary-high-shade-2);
	--md-text-button-secondary-pressed-state-layer-color: var(--md-sys-color-secondary-high-shade-1);
	--md-text-button-secondary-pressed-label-text-color: var(--md-sys-color-secondary-accent);
	--md-text-button-secondary-pressed-icon-color: var(--md-sys-color-secondary-accent);
	--md-text-button-secondary-disabled-icon-color: var(--md-sys-color-secondary-disabled-1);
	--md-text-button-secondary-disabled-label-text-color: var(--md-sys-color-secondary-disabled-2);
	--md-text-button-tertiary-label-text-color: var(--md-sys-color-tertiary);
	--md-text-button-tertiary-icon-color: var(--md-sys-color-tertiary);
	--md-text-button-tertiary-hover-state-layer-color: var(--md-sys-color-tertiary-high-shade-2);
	--md-text-button-tertiary-pressed-state-layer-color: var(--md-sys-color-tertiary-high-shade-1);
	--md-text-button-tertiary-pressed-label-text-color: var(--md-sys-color-tertiary-accent);
	--md-text-button-tertiary-pressed-icon-color: var(--md-sys-color-tertiary-accent);
	--md-text-button-tertiary-disabled-icon-color: var(--md-sys-color-tertiary-disabled-1);
	--md-text-button-tertiary-disabled-label-text-color: var(--md-sys-color-tertiary-disabled-1);
	--md-text-button-neutral-variant-label-text-color: var(--md-sys-color-neutral-variant);
	--md-text-button-neutral-variant-icon-color: var(--md-sys-color-neutral-variant);
	--md-text-button-neutral-variant-hover-state-layer-color: var(--md-sys-color-neutral-variant-high-shade-2);
	--md-text-button-neutral-variant-pressed-state-layer-color: var(--md-sys-color-neutral-variant-high-shade-1);
	--md-text-button-neutral-variant-pressed-label-text-color: var(--md-sys-color-neutral-variant-accent);
	--md-text-button-neutral-variant-pressed-icon-color: var(--md-sys-color-neutral-variant-accent);
	--md-text-button-neutral-variant-disabled-label-text-color: var(--md-sys-color-neutral-variant-disabled-2);
	--md-text-button-neutral-variant-disabled-icon-color: var(--md-sys-color-neutral-variant-disabled-2);
	--md-text-button-error-label-text-color: var(--md-sys-color-error);
	--md-text-button-error-icon-color: var(--md-sys-color-error);
	--md-text-button-error-hover-state-layer-color: var(--md-sys-color-error-high-shade-1);
	--md-text-button-error-pressed-state-layer-color: var(--md-sys-color-error-high-shade-2);
	--md-text-button-error-pressed-label-text-color: var(--md-sys-color-error-accent);
	--md-text-button-error-pressed-icon-color: var(--md-sys-color-error-accent);
	--md-text-button-error-disabled-label-text-color: var(--md-sys-color-error-disabled-2);
	--md-text-button-error-disabled-icon-color: var(--md-sys-color-error-disabled-1);
	--md-text-button-info-label-text-color: var(--md-sys-color-info);
	--md-text-button-info-icon-color: var(--md-sys-color-info);
	--md-text-button-info-hover-state-layer-color: var(--md-sys-color-info-high-shade-2);
	--md-text-button-info-pressed-state-layer-color: var(--md-sys-color-info-high-shade-1);
	--md-text-button-info-pressed-label-text-color: var(--md-sys-color-info-accent);
	--md-text-button-info-pressed-icon-color: var(--md-sys-color-info-accent);
	--md-text-button-info-disabled-label-text-color: var(--md-sys-color-info-disabled-2);
	--md-text-button-info-disabled-icon-color: var(--md-sys-color-info-disabled-1);
	--md-text-button-disabled-label-text-opacity: 1;
	--md-text-button-disabled-icon-opacity: 1;
	--md-text-button-hover-container-elevation: 1;
	--md-sys-color-surfaces-surface: #FFFFFF;
	--md-sys-color-surfaces-surface-light: #FFFFFF;
	--md-sys-color-surfaces-surface-dark: #191C1D;
	--md-sys-color-surfaces-surface-variant: #CAD1D7;
	--md-sys-color-surfaces-surface-variant-light: #CAD1D7;
	--md-sys-color-surfaces-surface-variant-dark: #3B4B59;
	--md-sys-color-surfaces-on-surface: #191C1D;
	--md-sys-color-surfaces-on-surface-light: #191C1D;
	--md-sys-color-surfaces-on-surface-dark: #E1E3E3;
	--md-sys-color-surfaces-on-surface-variant: #3B4B59;
	--md-sys-color-surfaces-on-surface-variant-light: #3B4B59;
	--md-sys-color-surfaces-on-surface-variant-dark: #B0BAC4;
	--md-sys-color-surfaces-surface-tint: #0357fc;
	--md-sys-color-surfaces-surface-tint-light: #0357fc;
	--md-sys-color-surfaces-surface-tint-dark: #0357fc;
	--md-sys-color-surfaces-inverse-surface: #2E3132;
	--md-sys-color-surfaces-inverse-surface-light: #2E3132;
	--md-sys-color-surfaces-inverse-surface-dark: #E1E3E3;
	--md-sys-color-surfaces-inverse-on-surface: #EFF1F1;
	--md-sys-color-surfaces-inverse-on-surface-light: #EFF1F1;
	--md-sys-color-surfaces-inverse-on-surface-dark: #2E3132;
	--md-sys-color-focus-ring-color: #568EFD;
	--md-sys-color-focus-ring-color-light: #568EFD;
	--md-sys-color-other-shadow: #000000;
	--md-sys-color-other-shadow-light: #000000;
	--md-sys-color-other-shadow-dark: #000000;
	--md-sys-color-other-outline: #53697E;
	--md-sys-color-other-outline-light: #53697E;
	--md-sys-color-other-outline-dark: #758798;
	--md-sys-color-other-background: #FAFAFA;
	--md-sys-color-other-background-light: #FAFAFA;
	--md-sys-color-other-background-dark: #191C1D;
	--md-sys-color-other-on-background: #191C1D;
	--md-sys-color-other-on-background-light: #191C1D;
	--md-sys-color-other-on-background-dark: #E1E3E3;
}

[data-theme="dark"] {
	--md-sys-color-primary: var(--md-sys-color-primary-dark);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
	--md-sys-color-primary-high-shade-1: var(--md-sys-color-primary-high-shade-1-dark);
	--md-sys-color-primary-high-shade-2: var(--md-sys-color-primary-high-shade-2-dark);
	--md-sys-color-primary-low-shade-1: var(--md-sys-color-primary-low-shade-1-dark);
	--md-sys-color-primary-low-shade-2: var(--md-sys-color-primary-low-shade-2-dark);
	--md-sys-color-primary-disabled-1: var(--md-sys-color-primary-disabled-1-dark);
	--md-sys-color-primary-disabled-2: var(--md-sys-color-primary-disabled-2-dark);
	--md-sys-color-primary-accent: var(--md-sys-color-primary-accent-dark);
	--md-sys-color-secondary: var(--md-sys-color-secondary-dark);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
	--md-sys-color-error: var(--md-sys-color-error-dark);
	--md-sys-color-error-container: var(--md-sys-color-error-container-dark);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
	--md-sys-color-on-error: var(--md-sys-color-on-error-dark);
	--md-sys-color-surfaces-surface: var(--md-sys-color-surfaces-surface-dark);
	--md-sys-color-surfaces-surface-variant: var(--md-sys-color-surfaces-surface-variant-dark);
	--md-sys-color-surfaces-on-surface: var(--md-sys-color-surfaces-on-surface-dark);
	--md-sys-color-surfaces-on-surface-variant: var(--md-sys-color-surfaces-on-surface-variant-dark);
	--md-sys-color-surfaces-surface-tint: var(--md-sys-color-surfaces-surface-tint-dark);
	--md-sys-color-surfaces-inverse-surface: var(--md-sys-color-surfaces-inverse-surface-dark);
	--md-sys-color-surfaces-inverse-on-surface: var(--md-sys-color-surfaces-inverse-on-surface-dark);
	--md-sys-color-other-shadow: var(--md-sys-color-other-shadow-dark);
	--md-sys-color-other-outline: var(--md-sys-color-other-outline-dark);
	--md-sys-color-other-background: var(--md-sys-color-other-background-dark);
	--md-sys-color-other-on-background: var(--md-sys-color-other-on-background-dark);
}

@media (prefers-color-scheme: dark) {
	:root {
		--md-sys-color-primary: var(--md-sys-color-primary-dark);
		--md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
		--md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
		--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
		--md-sys-color-primary-high-shade-1: var(--md-sys-color-primary-high-shade-1-dark);
		--md-sys-color-primary-high-shade-2: var(--md-sys-color-primary-high-shade-2-dark);
		--md-sys-color-primary-low-shade-1: var(--md-sys-color-primary-low-shade-1-dark);
		--md-sys-color-primary-low-shade-2: var(--md-sys-color-primary-low-shade-2-dark);
		--md-sys-color-primary-disabled-1: var(--md-sys-color-primary-disabled-1-dark);
		--md-sys-color-primary-disabled-2: var(--md-sys-color-primary-disabled-2-dark);
		--md-sys-color-primary-accent: var(--md-sys-color-primary-accent-dark);
		--md-sys-color-secondary: var(--md-sys-color-secondary-dark);
		--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
		--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
		--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
		--md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
		--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
		--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
		--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
		--md-sys-color-error: var(--md-sys-color-error-dark);
		--md-sys-color-error-container: var(--md-sys-color-error-container-dark);
		--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
		--md-sys-color-on-error: var(--md-sys-color-on-error-dark);
		--md-sys-color-surfaces-surface: var(--md-sys-color-surfaces-surface-dark);
		--md-sys-color-surfaces-surface-variant: var(--md-sys-color-surfaces-surface-variant-dark);
		--md-sys-color-surfaces-on-surface: var(--md-sys-color-surfaces-on-surface-dark);
		--md-sys-color-surfaces-on-surface-variant: var(--md-sys-color-surfaces-on-surface-variant-dark);
		--md-sys-color-surfaces-surface-tint: var(--md-sys-color-surfaces-surface-tint-dark);
		--md-sys-color-surfaces-inverse-surface: var(--md-sys-color-surfaces-inverse-surface-dark);
		--md-sys-color-surfaces-inverse-on-surface: var(--md-sys-color-surfaces-inverse-on-surface-dark);
		--md-sys-color-other-shadow: var(--md-sys-color-other-shadow-dark);
		--md-sys-color-other-outline: var(--md-sys-color-other-outline-dark);
		--md-sys-color-other-background: var(--md-sys-color-other-background-dark);
		--md-sys-color-other-on-background: var(--md-sys-color-other-on-background-dark);
	}
}