
html,body { 
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
ol,ul {
  list-style:none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --md-sys-color-surface-container-high: #fafafa;
  --md-sys-shape-corner-full: 4px;

  /* 
  --md-dialog-container-shape-start-start: 6px;
  --md-dialog-container-shape-start-end: 6px;
  --md-dialog-container-shape-end-start: 6px;
  --md-dialog-container-shape-end-end: 6px;
*/































--md-ref-button-shape: 4px;
  --md-ref-button-x-space-sm: 12px;
  --md-ref-button-x-space-md: 16px;
  --md-ref-button-x-space-lg: 24px;
  --md-ref-button-icon-size-sm: 20px;
  --md-ref-button-icon-size-md: 24px;
  --md-ref-button-icon-size-lg: 24px;
  --md-ref-button-hover-container-opacity: 1;
  --md-ref-button-disabled-container-opacity: 1;
  --md-ref-button-pressed-container-opacity: 1;
  --md-ref-button-hover-container-elevation: 1;
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #01256a;
  --md-ref-palette-primary20: #02308b;
  --md-ref-palette-primary30: #023eb3;
  --md-ref-palette-primary40: #0357fc;
  --md-ref-palette-primary50: #3579fd;
  --md-ref-palette-primary60: #568efd;
  --md-ref-palette-primary70: #8bb2fe;
  --md-ref-palette-primary80: #b1cbfe;
  --md-ref-palette-primary90: #ccddff;
  --md-ref-palette-primary95: #e6eeff;
  --md-ref-palette-primary99: #f5f9ff;
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #000b29;
  --md-ref-palette-secondary20: #000e35;
  --md-ref-palette-secondary30: #001245;
  --md-ref-palette-secondary40: #001858;
  --md-ref-palette-secondary50: #001a61;
  --md-ref-palette-secondary60: #334881;
  --md-ref-palette-secondary70: #546695;
  --md-ref-palette-secondary80: #8a96b6;
  --md-ref-palette-secondary90: #b0b8ce;
  --md-ref-palette-secondary95: #e6e8ef;
  --md-ref-palette-secondary99: #f0f2f7;
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #244000;
  --md-ref-palette-tertiary20: #335300;
  --md-ref-palette-tertiary30: #3e6500;
  --md-ref-palette-tertiary40: #4c8300;
  --md-ref-palette-tertiary50: #5b9c00;
  --md-ref-palette-tertiary60: #86bf2a;
  --md-ref-palette-tertiary70: #a2d64f;
  --md-ref-palette-tertiary80: #bade81;
  --md-ref-palette-tertiary90: #d3e9b0;
  --md-ref-palette-tertiary95: #eaf4d9;
  --md-ref-palette-tertiary99: #eff6e6;
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #191c1d;
  --md-ref-palette-neutral20: #2e3132;
  --md-ref-palette-neutral30: #444748;
  --md-ref-palette-neutral40: #5c5f5f;
  --md-ref-palette-neutral50: #747678;
  --md-ref-palette-neutral60: #8e9192;
  --md-ref-palette-neutral70: #a9acac;
  --md-ref-palette-neutral80: #c4c7c7;
  --md-ref-palette-neutral90: #e1e3e3;
  --md-ref-palette-neutral95: #eff1f1;
  --md-ref-palette-neutral99: #fafafa;
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #232c35;
  --md-ref-palette-neutral-variant20: #2e3a45;
  --md-ref-palette-neutral-variant30: #3b4b59;
  --md-ref-palette-neutral-variant40: #4c6073;
  --md-ref-palette-neutral-variant50: #53697e;
  --md-ref-palette-neutral-variant60: #758798;
  --md-ref-palette-neutral-variant70: #8c9ba9;
  --md-ref-palette-neutral-variant80: #b0bac4;
  --md-ref-palette-neutral-variant90: #cad1d7;
  --md-ref-palette-neutral-variant95: #eef0f2;
  --md-ref-palette-neutral-variant99: #f7f9fa;
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #640a0a;
  --md-ref-palette-error20: #820c0c;
  --md-ref-palette-error30: #a80f0f;
  --md-ref-palette-error40: #d81313;
  --md-ref-palette-error50: #ed1515;
  --md-ref-palette-error60: #f14444;
  --md-ref-palette-error70: #f36262;
  --md-ref-palette-error80: #f79393;
  --md-ref-palette-error90: #f9b6b6;
  --md-ref-palette-error95: #fde8e8;
  --md-ref-palette-error99: #fef6f6;
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-warning0: #000000;
  --md-ref-palette-warning10: #fef6f6;
  --md-ref-palette-warning20: #8c6a02;
  --md-ref-palette-warning30: #b58803;
  --md-ref-palette-warning40: #e8af04;
  --md-ref-palette-warning50: #ffc004;
  --md-ref-palette-warning60: #ffcd36;
  --md-ref-palette-warning70: #ffd557;
  --md-ref-palette-warning80: #ffe28c;
  --md-ref-palette-warning90: #ffebb1;
  --md-ref-palette-warning95: #fff9e6;
  --md-ref-palette-warning99: #fffcf5;
  --md-ref-palette-warning100: #ffffff;
  --md-ref-palette-success0: #000000;
  --md-ref-palette-success10: #2a542f;
  --md-ref-palette-success20: #3b7542;
  --md-ref-palette-success30: #55a85e;
  --md-ref-palette-success40: #72e37f;
  --md-ref-palette-success50: #7df98c;
  --md-ref-palette-success60: #97faa3;
  --md-ref-palette-success70: #a8fbb2;
  --md-ref-palette-success80: #b4fabd;
  --md-ref-palette-success90: #c3fcca;
  --md-ref-palette-success95: #dcfde0;
  --md-ref-palette-success99: #f2fef4;
  --md-ref-palette-success100: #ffffff;
  --md-ref-palette-info0: #000000;
  --md-ref-palette-info10: #004964;
  --md-ref-palette-info20: #005f83;
  --md-ref-palette-info30: #007ba9;
  --md-ref-palette-info40: #009dd9;
  --md-ref-palette-info50: #00adee;
  --md-ref-palette-info60: #33bdf1;
  --md-ref-palette-info70: #54c8f4;
  --md-ref-palette-info80: #8ad9f7;
  --md-ref-palette-info90: #b0e6fa;
  --md-ref-palette-info95: #e6f7ed;
  --md-ref-palette-info99: #f2fcff;
  --md-ref-palette-info100: #ffffff;
  --md-ref-palette-accent0: #000000;
  --md-ref-palette-accent10: #33326b;
  --md-ref-palette-accent20: #43418c;
  --md-ref-palette-accent30: #5754b5;
  --md-ref-palette-accent40: #6f6ce8;
  --md-ref-palette-accent50: #7a77ff;
  --md-ref-palette-accent60: #9592ff;
  --md-ref-palette-accent70: #a6a4ff;
  --md-ref-palette-accent80: #c2c0ff;
  --md-ref-palette-accent90: #d6d5ff;
  --md-ref-palette-accent95: #f2f1ff;
  --md-ref-palette-accent99: #f4f3ff;
  --md-ref-palette-accent100: #ffffff;
  --md-ref-palette-black: #000000;
  --md-ref-palette-white: #ffffff;
  --md-ref-typeface-plain: Roboto;
  --md-ref-typeface-brand: Roboto;
  --md-ref-typeface-weight-bold: 700;
  --md-ref-typeface-weight-medium: 500;
  --md-ref-typeface-weight-regular: 400;
  --md-filled-button-container-shape: 4px;
  --md-filled-button-icon-size: 24px;
  --md-filled-button-disabled-container-opacity: 1;
  --md-filled-button-hover-container-elevation: 1;
  --md-filled-button-hover-state-layer-opacity: 1;
  --md-filled-button-pressed-state-layer-opacity: 1;
  --md-filled-button-primary-container-color: #0357fc;
  --md-filled-button-primary-hover-state-layer-color: #023eb3;
  --md-filled-button-primary-pressed-state-layer-color: #02308b;
  --md-filled-button-secondary-container-color: #001a61;
  --md-filled-button-secondary-hover-state-layer-color: #546695;
  --md-filled-button-secondary-pressed-state-layer-color: #001858;
  --md-filled-button-tertiary-container-color: #4c8300;
  --md-filled-button-tertiary-hover-state-layer-color: #3e6500;
  --md-filled-button-tertiary-pressed-state-layer-color: #335300;
  --md-filled-button-neutral-container-color: #eff1f1;
  --md-filled-button-neutral-label-text-color: #2e3132;
  --md-filled-button-neutral-hover-state-layer-color: #c4c7c7;
  --md-filled-button-neutral-hover-state-label-text-color: #000000;
  --md-filled-button-neutral-pressed-state-layer-color: #e1e3e3;
  --md-filled-button-neutral-pressed-state-label-text-color: #2e3a45;
  --md-filled-button-info-container-color: #54c8f4;
  --md-filled-button-info-hover-state-layer-color: #33bdf1;
  --md-filled-button-info-pressed-state-layer-color: #8ad9f7;
  --md-filled-button-info-label-text-color: #004964;
  --md-filled-button-error-container-color: #d81313;
  --md-filled-button-error-hover-state-layer-color: #ed1515;
  --md-filled-button-error-pressed-state-layer-color: #a80f0f;
  --md-sys-color-surface-tint: #0357fc;
  --md-sys-color-on-error-container: #640a0a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #f9b6b6;
  --md-sys-color-on-tertiary-container: #244000;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #d3e9b0;
  --md-sys-color-tertiary: #4c8300;
  --md-sys-color-shadow: #000000;
  --md-sys-color-error: #d81313;
  --md-sys-color-outline: #53697e;
  --md-sys-color-on-background: #191c1d;
  --md-sys-color-background: #fafafa;
  --md-sys-color-inverse-on-surface: #eff1f1;
  --md-sys-color-inverse-surface: #2e3132;
  --md-sys-color-on-surface-variant: #3b4b59;
  --md-sys-color-on-surface: #191c1d;
  --md-sys-color-surface-variant: #cad1d7;
  --md-sys-color-surface: #fafafa;
  --md-sys-color-on-secondary-container: #000b29;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #b0b8ce;
  --md-sys-color-secondary: #001858;
  --md-sys-color-inverse-primary: #b1cbfe;
  --md-sys-color-on-primary-container: #01256a;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #ccddff;
  --md-sys-color-primary: #0357fc;
}
