:host {
    --_label-text-size: 1em!important;
    --_leading-space: 20px!important;
    --_trailing-space: 20px!important;
}

:host(.btn--small) {
    --_leading-space: 16px!important;
    --_trailing-space: 16px!important;
    --_container-height: 32px!important;
}

:host(.btn--large) {
    --_label-text-size: 1.3em!important;
    --_leading-space: 30px!important;
    --_trailing-space: 30px!important;
    --_container-height: 48px!important;
}

.label {
    transition: color 0.3s ease!important;
}
  
.background {
    transition: background-color 1.3s ease!important;
}

:host(.btn--danger) md-focus-ring { 
    --md-focus-ring-color: rgba(206, 225, 83, 0.9)!important;
}