@import './_common.css';

:host {
    --_hover-state-layer-opacity: 1;
}

:host(.btn--primary) { 
    --_container-color: var(--md-filled-button-primary-container-color);
    --_hover-state-layer-color: var(--md-filled-button-primary-hover-state-layer-color);
    --_pressed-state-layer-color: var(--md-filled-button-primary-pressed-state-layer-color);
}

:host(.btn--secondary) {
    --_container-color: var(--md-filled-button-secondary-container-color);
    --_hover-state-layer-color: var(--md-filled-button-secondary-hover-state-layer-color);
    --_pressed-state-layer-color: var(--md-filled-button-secondary-pressed-state-layer-color);
}

:host(.btn--tertiary) {
    --_container-color: var(--md-filled-button-tertiary-container-color);
    --_hover-state-layer-color: var(--md-filled-button-tertiary-hover-state-layer-color);
    --_pressed-state-layer-color: var(--md-filled-button-tertiary-pressed-state-layer-color)
}

:host(.btn--neutral) {
    --_container-color: var(--md-filled-button-neutral-container-color);
    --_label-text-color: var(--md-filled-button-neutral-label-text-color);
    --_hover-state-layer-color: var(--md-filled-button-neutral-hover-state-layer-color);
    --_hover-label-text-color: var(--md-filled-button-neutral-hover-state-label-text-color);
    --_pressed-state-layer-color: var(--md-filled-button-neutral-pressed-state-layer-color);
    --_pressed-label-text-color: var(--md-filled-button-neutral-pressed-state-label-text-color);
}

:host(.btn--info) {
    --_container-color: var(--md-filled-button-info-container-color);
    --_hover-state-layer-color: var(--md-filled-button-info-hover-state-layer-color);
    --_label-text-color: var(--md-filled-button-info-label-text-color);
    --_pressed-label-text-color: var(--md-filled-button-info-pressed-state-layer-color);
}
  
:host(.btn--danger) { 
    --_container-color: var(--md-filled-button-error-container-color);
    --_hover-state-layer-color: var(--md-filled-button-error-hover-state-layer-color);
    --_pressed-state-layer-color: var(--md-filled-button-error-pressed-state-layer-color);
    --md-focus-ring-color: var(--md-ref-palette-error30);
}

:host(.btn--danger) md-focus-ring { 
    opacity: 0.5;
}