@import './_common.scss';

@mixin text-button-style($type) {
    --_outline-color: var(--md-outlined-button-#{$type}-outline-color);
    --_label-text-color: var(--md-outlined-button-#{$type}-label-text-color);
    --_hover-state-layer-color: var(--md-outlined-button-#{$type}-hover-state-layer-color);
    --_disabled-outline-color: var(--md-outlined-button-#{$type}-disabled-outline-color);
    --_disabled-label-text-color: var(--md-outlined-button-#{$type}-disabled-label-text-color);
    --_disabled-icon-color: var(--md-outlined-button-#{$type}-disabled-icon-color);
}
  
@each $type in $button-types {
    :host(.btn--#{$type}) {
        @include text-button-style($type);
    }
}
